<!--====== TOP HEADER ==========-->
     <section>
         <div class="rows head">
             <div class="container-fluid">
                 <div>
                     <!--====== BRANDING LOGO ==========-->
                     <div class="col-md-5 col-sm-12 col-xs-12 head_left">
                         <img src="assets/img/biswa-bangla.png" alt=""><a href="index.html" class="logo"><span style="color:#FFC107;">Biswa </span><span style="color:#4CAF50;">Bangla </span><span style="color:#FF5722;">Tourism</span><br/>
                          <small style="color:#FFC107;">Department of Tourism, Government of West Bengal</small>
                         </a>
                     </div>
                     <!--====== HELP LINE & EMAIL ID ==========-->
                     <div class="col-md-8 col-sm-12 col-xs-12 head_right head_right_all">

                         </div>
                     </div>
                 </div>
             </div>
     </section>

     <!--====== NAVIGATION MENU ==========-->
     <section>
         <div class="main_menu">
             <div class="container-fluid">
                 <nav class="navbar navbar-inverse">
                     <div>
                         <!-- Brand and toggle get grouped for better mobile display(MOBILE MENU) -->
                         <div class="navbar-header">
                             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                 <span class="icon-bar"></span>
                                 <span class="icon-bar"></span>
                                 <span class="icon-bar"></span>
                             </button>
                             <img src="./Holiday Tour &amp; Travels_files/logo.png" alt="" class="mob_logo">
                         </div>
                         <!-- NAVIGATION MENU -->
                         <div class="collapse navbar-collapse" id="myNavbar">
                             <ul class="nav navbar-nav">
                                 <li class="active"><a href="index.html">Home</a>
                                 </li>
                                 <li class="dropdown">
                                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Packages <span class="caret"></span></a>
                                     <ul class="dropdown-menu">
                                         <li><a href="family-package.html">Family Package</a>
                                         </li>
                                         <li><a href="honeymoon-package.html">Honeymoon Package</a>
                                         </li>
                                         <li><a href="group-package.html">Group Package</a>
                                         </li>
                                         <li><a href="weekend-package.html">WeekEnd Package</a>
                                         </li>
                                         <li><a href="regular-package.html">Regular Package</a>
                                         </li>
                                     </ul>
                                 </li>
                                 <li><a href="hotels-list.html">Hotels</a>
                                 </li>
                                 <li class="dropdown">
                                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sight Seeing <span class="caret"></span></a>
                                     <ul class="dropdown-menu">
                                         <li><a href="places.html">Tour Place - 1</a>
                                         </li>
                                         <li><a href="places-1.html">Tour Place - 2</a>
                                         </li>
                                         <li><a href="places-2.html">Tour Place - 3</a>
                                         </li>
                                     </ul>
                                 </li>
                                 <li><a href="events.html">Events</a>
                                 </li>
                                 <li><a href="blog.html">Blog</a>
                                 </li>

                                 <li><a href="contact.html">Contact Us</a>
                                 </li>
                             </ul>

                         </div>
                     </div>
                 </nav>
             </div>
         </div>
     </section>


	<div class="main-wrapper">
		<div class="hero home-banner">
			<div class="container">

				<h1>Where do you want to go?</h1>
				<p>Discover and book your unique travel experiences offered by local experts</p>

				<form>
					<div class="form-group">
						<input type="text" placeholder="eg: Digha, Darjeeling, Murshidabad" class="form-control">
						<button class="btn"><i class="fa fa-search"></i></button>
					</div>
				</form>

				<div class="top-search">
					<span class="font700">Top Searches : </span>
					<a href="">Darjeeling</a>
					<a href="">Digha</a>
					<a href="">Kalimpong</a>
					<a href="">Lava</a>
					<a href="">Shantiniketan</a>
				</div>

			</div>

		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="second-title">
						<h2>Top Searched <span>places</span></h2>
						<p class="color-grey">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla</p>
					</div>
				</div>
			</div>
			<div class="row">

                    <!-- TOUR PLACE 1 -->
                    <div class="col-md-4 col-sm-6 col-xs-12 b_packages">

                        <!-- IMAGE -->
                        <div class="v_place_img">
                            <img src="assets/img/places/darjeeling.jpg" alt="Tour Booking" title="Tour Booking">
                        </div>
                        <!-- TOUR TITLE & ICONS -->
                        <div class="b_pack rows">
                            <!-- TOUR TITLE -->
                            <div class="col-md-8 col-sm-8">
                                <h4><a href="#">Darjeeling<span class="v_pl_name"></span></a></h4>
                            </div>
                            <!-- TOUR ICONS -->
                            <div class="col-md-4 col-sm-4 pack_icon">

                            </div>
                        </div>
                    </div>
                    <!-- TOUR PLACE 2 -->
                    <div class="col-md-4 col-sm-6 col-xs-12 b_packages">

                        <!-- IMAGE -->
                        <div class="v_place_img">
                            <img src="assets/img/places/dooars.jpg" alt="Tour Booking" title="Tour Booking">
                        </div>
                        <!-- TOUR TITLE & ICONS -->
                        <div class="b_pack rows">
                            <!-- TOUR TITLE -->
                            <div class="col-md-8 col-sm-8">
                                <h4><a href="#">Dooars<span class="v_pl_name"></span></a></h4>
                            </div>
                            <!-- TOUR ICONS -->
                            <div class="col-md-4 col-sm-4 pack_icon">

                            </div>
                        </div>
                    </div>
                    <!-- TOUR PLACE 3 -->
                    <div class="col-md-4 col-sm-6 col-xs-12 b_packages">
                        <div class="v_place_img"><img src="assets/img/places/santiniketan.jpg" alt="Tour Booking" title="Tour Booking">
                        </div>
                        <div class="b_pack rows">
                            <div class="col-md-8 col-sm-8">
                                <h4><a href="#">Santiniketan<span class="v_pl_name"></span></a></h4>
                            </div>
                            <div class="col-md-4 col-sm-4 pack_icon">

                            </div>
                        </div>
                    </div>
                    <!-- TOUR PLACE 4 -->
                    <div class="col-md-4 col-sm-6 col-xs-12 b_packages">
                        <div class="v_place_img"><img src="assets/img/places/kalimpong.jpg" alt="Tour Booking" title="Tour Booking">
                        </div>
                        <div class="b_pack rows">
                            <div class="col-md-8 col-sm-8">
                                <h4><a href="#">Kalimpong</a></h4>
                            </div>
                            <div class="col-md-4 col-sm-4 pack_icon">

                            </div>
                        </div>
                    </div>
                    <!-- TOUR PLACE 5 -->
                    <div class="col-md-4 col-sm-6 col-xs-12 b_packages">
                        <div class="v_place_img"><img src="assets/img/places/digha.jpg" alt="Tour Booking" title="Tour Booking">
                        </div>
                        <div class="b_pack rows">
                            <div class="col-md-8 col-sm-8">
                                <h4><a href="#">Digha<span class="v_pl_name"></span></a></h4>
                            </div>
                            <div class="col-md-4 col-sm-4 pack_icon">

                            </div>
                        </div>
                    </div>
                    <!-- TOUR PLACE 6 -->
                    <div class="col-md-4 col-sm-6 col-xs-12 b_packages">
                        <div class="v_place_img"><img src="assets/img/places/murshidabad.jpg" alt="Tour Booking" title="Tour Booking">
                        </div>
                        <div class="b_pack rows">
                            <div class="col-md-8 col-sm-8">
                                <h4><a href="#">Murshidabad<span class="v_pl_name"></span></a></h4>
                            </div>
                            <div class="col-md-4 col-sm-4 pack_icon">

                            </div>
                        </div>
                    </div>
                </div>
							</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="second-title">
						<h2><span>places</span> by category</h2>
						<p class="color-grey">Curabitur nunc erat, consequat in erat ut, congue bibendum nulla</p>
					</div>
				</div>
			</div>
			<div class="row col-no-padd">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="photo-block hover-aqua">
						<div class="tour-layer delay-1"></div>
						<img src="assets/img/category/historical.jpg" alt="">
						<div class="vertical-align">
							<div class="photo-title">
								<h4 class="delay-1"><b><span class="color-aqua">235</span> places</b></h4>
								<a class="hover-it" href="#"><h3>Historical destinations</h3></a>
								<h5 class="delay-1">Orlando, Air/3 Nights</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="photo-block hover-aqua">
						<div class="tour-layer delay-1"></div>
						<img src="assets/img/category/coastal.jpg" alt="">
						<div class="vertical-align">
							<div class="photo-title">
								<h4 class="delay-1"><b>Only <span class="color-aqua">$235</span></b></h4>
								<a class="hover-it" href="#"><h3>Coastal destinations</h3></a>
								<h5 class="delay-1">Orlando, Air/3 Nights</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="photo-block hover-aqua">
						<div class="tour-layer delay-1"></div>
						<img src="assets/img/category/dakhineswar.jpg" alt="">
						<div class="vertical-align">
							<div class="photo-title">
								<h4 class="delay-1"><b>Only <span class="color-aqua">$235</span></b></h4>
								<a class="hover-it" href="#"><h3>Pilgrimage destinations</h3></a>
								<h5 class="delay-1">Orlando, Air/3 Nights</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="photo-block hover-aqua">
						<div class="tour-layer delay-1"></div>
						<img src="assets/img/category/cultural.jpg" alt="">
						<div class="vertical-align">
							<div class="photo-title">
								<h4 class="delay-1"><b>Only <span class="color-aqua">$235</span></b></h4>
								<a class="hover-it" href="#"><h3>cultural destinations</h3></a>
								<h5 class="delay-1">Orlando, Air/3 Nights</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="photo-block hover-aqua">
						<div class="tour-layer delay-1"></div>
						<img src="assets/img/category/himalyans.jpg" alt="">
						<div class="vertical-align">
							<div class="photo-title">
								<h4 class="delay-1"><b>Only <span class="color-aqua">$235</span></b></h4>
								<a class="hover-it" href="#"><h3>Himalyans trip</h3></a>
								<h5 class="delay-1">Orlando, Air/3 Nights</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="photo-block hover-aqua">
						<div class="tour-layer delay-1"></div>
						<img src="assets/img/category/sundarbans.jpg" alt="">
						<div class="vertical-align">
							<div class="photo-title">
								<h4 class="delay-1"><b>Only <span class="color-aqua">$235</span></b></h4>
								<a class="hover-it" href="#"><h3>sundarbans trip</h3></a>
								<h5 class="delay-1">Orlando, Air/3 Nights</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="photo-block hover-aqua">
						<div class="tour-layer delay-1"></div>
						<img src="assets/img/category/photo_7.jpg" alt="">
						<div class="vertical-align">
							<div class="photo-title">
								<h4 class="delay-1"><b>Only <span class="color-aqua">$235</span></b></h4>
								<a class="hover-it" href="#"><h3>promotional trip</h3></a>
								<h5 class="delay-1">Orlando, Air/3 Nights</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="photo-block hover-aqua">
						<div class="tour-layer delay-1"></div>
						<img src="assets/img/category/photo_8.jpg" alt="">
						<div class="vertical-align">
							<div class="photo-title">
								<h4 class="delay-1"><b>Only <span class="color-aqua">$235</span></b></h4>
								<a class="hover-it" href="#"><h3>promotional trip</h3></a>
								<h5 class="delay-1">Orlando, Air/3 Nights</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="photo-block hover-aqua">
						<div class="tour-layer delay-1"></div>
						<img src="assets/img/category/photo_9.jpg" alt="">
						<div class="vertical-align">
							<div class="photo-title">
								<h4 class="delay-1"><b>Only <span class="color-aqua">$235</span></b></h4>
								<a class="hover-it" href="#"><h3>promotional trip</h3></a>
								<h5 class="delay-1">Orlando, Air/3 Nights</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="footer clearfix">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 col-xs-12">
							<div class="footerContent">
								<a href="index.html" class="logo"><span style="color:#FFC107;">met</span><span style="color:#4CAF50;">set</span><span style="color:#FF5722;">go</span>
								</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
									</p>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12">
							<div class="footerContent">
								<h5>Contact Us</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
								<ul class="list-unstyled">
									<li><i class="fa fa-home" aria-hidden="true"></i>61 Park Street, Fifth Avenue, NY</li>
									<li><i class="fa fa-phone" aria-hidden="true"></i>[88] 657 524 332</li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="">info@star-travel.com</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12">
							<div class="footerContent footerTags">
								<h5>Populer Tags</h5>
								<ul>
									<li><a href="#">#Angkor Wat</a>
									</li>
									<li><a href="#">#Buckingham Palace</a>
									</li>
									<li><a href="#">#High Line</a>
									</li>
									<li><a href="#">#Sagrada Família</a>
									</li>
									<li><a href="#">#Statue of Liberty </a>
									</li>
									<li><a href="#">#Notre Dame de Paris</a>
									</li>
									<li><a href="#">#Taj Mahal</a>
									</li>

								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12">
							<div class="footerContent">
								<h5>Newsletter</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do. </p>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Enter your email" aria-describedby="basic-addon21">
									<span class="input-group-addon" id="basic-addon21">Join</span>
								</div>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyRight clearfix">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-sm-push-6 col-xs-12">
							<ul class="list-inline">
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Blog</a></li>
							</ul>
						</div>
						<div class="col-sm-6 col-sm-pull-6 col-xs-12">
							<div class="copyRightText">
								<p>Copyright © 2016. All Rights Reserved by <a target="_blank" href="#">metaxion</a>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
